<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd" >

<hibernate-configuration>

	<session-factory>

		<!-- configurações gerais do hibernate -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>		
<!-- 		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/caronafacul</property> -->
<!-- 		<property name="hibernate.connection.username">caronafacul</property> -->
<!-- 		<property name="hibernate.connection.password">caronafacul</property> -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="hibernate.connection.username">bruno</property>
		<property name="hibernate.connection.password">password</property>
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.generate_statistics">true</property>
		
				<!-- modelo-->
		<mapping class="br.com.caronanafacul.model.Usuario" />
		<mapping class="br.com.caronanafacul.model.Carona" />
		<mapping class="br.com.caronanafacul.model.Vaga" />
		<mapping class="br.com.caronanafacul.model.PontoPassagem" />
		<mapping class="br.com.caronanafacul.model.EstadoVaga" />

	</session-factory>

</hibernate-configuration>